* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #eca922;
  --primaryHover: #cc9018;
  --gray: #807e7e;
  --darkGray: #636262;
  --dark: #25252e;
}

#app {
  position: relative;
}

.game-info {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 1.25rem;
}

.game-info > * + * {
  margin-top: 0.5rem;
}

.container {
  background: #151520;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  background: #0f0f17;
}

.text-primary {
  color: var(--primary);
}

.btn {
  outline: none;
  cursor: pointer;
  padding: 0.75rem 0.5rem;
  border-radius: 0.35rem;
  text-align: center;
  font-size: 0.9rem;
  transition: 0.3s ease;
  transition-property: transform, background-color;
}

.btn:active {
  transform: scale(0.95);
}

.btn-primary {
  background: var(--primary);
}

.btn-primary:hover,
.btn-primary:active {
  background: var(--primaryHover);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: rgba(25, 25, 25, 0.1);
  backdrop-filter: blur(0.5rem);
  transition: backdrop-filter 0.3s;
}

.modal {
  background: var(--dark);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 24rem;
  height: auto;
  color: #fff;
  position: relative;
}

.modal-header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #383838;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.modal-item-label {
  color: #c2c2c2;
  font-size: 0.85rem;
}

.modal-item-value {
  font-size: 1.65rem;
  font-weight: 700;
  margin-top: 0.35rem;
}

.speed-mode-container {
  margin-top: 0.75rem;
  display: flex;
}

.speed-mode-container > * + * {
  margin-left: 0.65rem;
}

.speed-mode-item {
  background: var(--gray);
  display: inline-block;
  padding: 0.75rem;
  min-width: 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.speed-mode-item:hover {
  background: var(--darkGray);
}

input[type="radio"]:checked + .speed-mode-item {
  background: var(--primary);
  color: #fff;
}

.speed-mode input[type="radio"] {
  display: none;
}

.modal-body > * + * {
  margin-top: 1.7rem;
}

.modal-footer {
  margin-top: 2.65rem;
}

.show-modal {
  animation: scale-in 0.5s ease;
}

.hide-modal {
  animation: scale-out 0.5s ease;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
