* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: relative;
}

.game-info {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 1.25rem;
}

.game-info > * + * {
  margin-top: 0.5rem;
}

.container {
  background: #151520;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  background: #0f0f17;
}
